init.author.name=Somraj Saha
init.author.email=somraj.mle@gmail.com
init.author.url=https://jarmos.netlify.app/
init.license=MIT
init.version=0.0.1
loglevel=silent
shell=C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe
